body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: auto !important; 
    height: auto !important;
}

.login-box {
    background-color: var(--smoky-black-2); 
    padding: 40px 30px;
    border-radius: var(--radius-24);    
    box-shadow: var(--shadow-1);         
    max-width: 480px;
    width: 100%;
}

.login-logo {
    max-width: 160px; 
    height: auto;
    margin: 0 auto 30px auto;
    display: block;
}

.login-box .headline-2 {
    margin-bottom: 60px;
}

.form-label {
    color: var(--quick-silver);
    font-size: var(--fontSize-label-1);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    margin-bottom: 10px;
    display: block;
}

.login-box .input-field {
    margin-bottom: 20px;
}

.btn-full-width {
    max-width: 100%;
    width: 100%;
    margin-top: 15px;
}