<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoXpress</title>
    <meta name="title" content="CargoXpress">
    <meta name="description" content="This is a Restaurant html template made by codewithsadee">
    <!--
    -favicon
-->
    <link rel="shortcut icon" href="./images/favicon.svg" type="image/svg+xml">
    <!--
    -googlefont
-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
        rel="stylesheet">
    <!--
    - custom css link
-->
    <link rel="stylesheet" href="css/style.css">
    <!--
    - preload images
-->
    <link rel="preload" href="./images/hero-slider-1.jpg">
    <link rel="preload" href="./images/hero-slider-2.jpg">
    <link rel="preload" href="./images/hero-slider-3.jpg">
</head>

<body>
    <!--
    - preloader
-->
    <div class="preload " data-preaload>
        <div class="circle"></div>
        <p class="text">CargoXpress</p>
    </div>


    <!--
    - top bar
-->
    <div class="topbar">
        <div class="container">
            <address class="topbar-item">
                <div class="icon">
                    <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                </div>
                <span class="span">Jl. Letjen S.Parman No. 1 RT.6/RW.16, Jakarta, Indonesia</span>
            </address>
            <div class="separator"></div>
            <div class="topbar-item item-2">
                <div class="icon">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                </div>
                <span class="span">Daily : 8.00 am to 10.00 pm</span>
            </div>
            <a href="tel: +91-8127xx3191" class="topbar-item link">
                <div class="icon"><ion-icon name="call-outline" aria-hidden="true"></ion-icon></div>
                <span class="span">+62-878-8843-2890</span>
            </a>
            <div class="separator"></div>
            <a href="mailto: booking@restaurant.com" class="topbar-item link">
                <div class="icon"><ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                </div>
                <span class="span">cargoxpress@gmail.com</span>
            </a>
        </div>
    </div>






    <!--
        - Header
    -->
    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="images/logo.png" width="160" height="50" alt="CargoXpress - Home">
            </a>

            <nav class="navbar" data-navbar>

                <button class="close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>

                <a href="#" class="logo">
                    <img src="./images/logo.svg" width="160" height="50" alt="Grilli - Home">
                </a>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="#home" class="navbar-link hover-underline active">
                            <div class="separator"></div>

                            <span class="span">Home</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#menu" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Services</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#about" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Track Shipment</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#menu" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Pricing</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#footer" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">About Us</span>
                        </a>
                    </li>

                </ul>

                <div class="text-center">
                    <p class="headline-1 navbar-title">Visit Us</p>

                    <address class="body-4">
                        45 Kebab Street, Lucknow,<br>
                        Uttar Pradesh 226001, India
                    </address>

                    <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p>

                    <a href="mailto:booking@grilli.com" class="body-4 sidebar-link">cargoxpress@gmail.com</a>

                    <div class="separator"></div>

                    <p class="contact-label">Booking Request</p>

                    <a href="tel:+91-8127xx3191" class="body-1 contact-number hover-underline">
                        +91-8127xx3191
                    </a>
                </div>

            </nav>

            <a href="signup" class="btn btn-secondary">
                <span class="text text-1">Sign Up</span>

                <span class="text text-2" aria-hidden="true">Sign Up</span>
            </a>

            <a href="login" class="btn btn-secondary">
                <span class="text text-1">Log In</span>

                <span class="text text-2" aria-hidden="true">Log In</span>
            </a>

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>



    <main>
        <article>

            <!---
            - Hero
            -->

            <section class="hero text-center" aria-label="home" id="home">

                <ul class="hero-slider" data-hero-slider>

                    <li class="slider-item active" data-hero-slider-item>
                        <div class="slider-bg">
                            <img src="./images/hero-slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="lable-2 section-subtitle slider-reveal">Nationwide delivery service</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            Reliable logistics<br>
                            for every destination
                        </h1>

                        <p class="body-2 hero-text slider-reveal">Fast delivery, wide coverage, and real-time tracking make it easy for you to monitor every step of your package's journey.

                        </p>

                        <a href="#menu" class="btn btn-primary slider-reveal">

                            <span class="text text-1">Start Shipping</span>

                            <span class="text text-2" aria-hidden="true">Start Shipping</span>

                        </a>
                    </li>





                    <li class="slider-item" data-hero-slider-item>
                        <div class="slider-bg">
                            <img src="./images/hero-slider-2.jpg" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="lable-2 section-subtitle slider-reveal">Safe & Secure Shipping</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            Delivering your packages <br>
                            with precision
                        </h1>

                        <p class="body-2 hero-text slider-reveal">Integrated delivery service that ensures packages arrive on time and in the best condition.
                        </p>

                        <a href="#menu" class="btn btn-primary slider-reveal">

                            <span class="text text-1">Explore Services</span>

                            <span class="text text-2" aria-hidden="true">Explore Services</span>

                        </a>
                    </li>





                    <li class="slider-item" data-hero-slider-item>
                        <div class="slider-bg">
                            <img src="./images/hero-slider-3.jpg" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="lable-2 section-subtitle slider-reveal"> Fast & Reliable Delivery</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            Where every package <br>
                            arrives with care
                        </h1>

                        <p class="body-2 hero-text slider-reveal">Enjoy fast, safe and trusted delivery accross Indonesia.
                        </p>

                        <a href="#menu" class="btn btn-primary slider-reveal">

                            <span class="text text-1">Track Your Package</span>

                            <span class="text text-2" aria-hidden="true">Track Your Package</span>

                        </a>
                    </li>

                </ul>


                <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
                    <ion-icon name="chevron-back"></ion-icon>
                </button>

                <button class="slider-btn next" aria-label="slide to next" data-next-btn>
                    <ion-icon name="chevron-forward"></ion-icon>
                </button>

                <a href="login" class="hero-btn has-after">
                    <img src="images/hero-icon.png" width="48" height="48" alt="shipping-icon">

                    <span class="lable-2 text-center span">Log In</span>
                </a>
                
            </section>

            <!--
                - Service
            -->

            <section class="section service bg-black-10 text-center" aria-lable="service">

                <div class="container">

                    <p class="section-subtitle lable-2">SOLUTIONS FOR EVERYONE</p>

                    <h2 class="headeline-1 section-title">Who We Serve</h2>

                    <p class="section-text">"Whether you are an individual, a small business, or a large enterprise,
                         we offer top-notch, innovative solutions tailored to your unique shipping needs."</p>

                    <ul class="grid-list">

                        <li>

                            <div class="service-card">

                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --height:336;">
                                        <img src="images/ps.jpg" width="285" height="336" loading="lazy"
                                            alt="ps" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">Personal Shipping</a>
                                    </h3>

                                    <a href="#menu" class="btn-text hover-underline lable-2">Get Started</a>

                                </div>

                            </div>

                        </li>




                        <li>

                            <div class="service-card">

                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --height:336;">
                                        <img src="images/ecs.jpg" width="285" height="336" loading="lazy"
                                            alt="ecs" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">E-commerce Solution</a>
                                    </h3>

                                    <a href="#menu" class="btn-text hover-underline lable-2">SEE PRICING</a>

                                </div>

                            </div>

                        </li>




                        <li>

                            <div class="service-card">

                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --height:336;">
                                        <img src="images/bl.jpg" width="285" height="336" loading="lazy"
                                            alt="bl" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">Business Logistics</a>
                                    </h3>

                                    <a href="#menu" class="btn-text hover-underline lable-2">Learn More</a>

                                </div>

                            </div>

                        </li>

                    </ul>
                </div>
            </section>


            <!--
                #About
            -->

            <section class="section about text-center" aria-labelledby="about-lable" id="about">
                <div class="container">

                    <div class="about-content">
                        <p class="lable-2 section-subtitle" id="about-lable">Our Story</p>

                        <h2 class="headline-1 section-title">Every Shipment Tells a Story</h2>

                        <p class="section-text">Welcome to <b>CargoXpress</b>, where every package tells a story of <b>trust</b>, <b>precision</b>,
                            and <b>service</b> that has stood the test of time.<br>
                            <br>
                            At <b>CargoXpress</b>, we believe in more than just logistics; we believe in <b>connecting you with what matters</b>. 
                            From the reliability of our team on the ground to the security of every shipment, each element is a testament 
                            to our commitment to providing a dependable and trusted delivery experience.<br>
                            <br>
                            Join us on this journey as we continue to deliver your packages with precision, one shipment at a time.
                            <br>

                            <b style="color: goldenrod;">Thank you for being a part of our story.</b>

                        </p>

                        <div class="contact-lable">Book A Pickup</div>

                        <a href="tel:+91-8127xx3191" class="body-1 contact-number hover-underline">+62-878-8843-2890</a>

                        <a href="#" class="btn btn-primary">

                            <span class="text text-1">Read More</span>

                            <span class="text text-2" aria-hidden="true">Read More</span>
                        </a>
                    </div>

                    <figure class="about-banner">

                        <img src="images/banner.jpg" width="570" height="570" loading="lazy" alt="about banner"
                            class="w-100" data-parallax-item data-parallax-speed="1">

                        <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
                            <img src="images/banner.jpg" alt="" width="285" height="285" loading="lazy"
                                class="w-100">
                        </div>

                        <div class="abs-img abs-img-2 has-before" data-parallax-item data-parallax-speed="1.75">
                            <img src="images/banner.jpg" alt="" width="133" height="134" loading="lazy">
                        </div>


                    </figure>

                </div>

            </section>

            <!--
                #special Dish
            -->

            <section class="special-dish text-center" aria-labelledby="dish-label">

                <div class="special-dish-banner">
                    <img src="images/900.png" width="940" height="900" loading="lazy"
                        alt="900" class="img-cover">
                </div>

                <div class="special-dish-content bg-black-10">
                    <div class="container">

                        <img src="images/arrow.png" width="28" height="41" loading="lazy" alt="arrow"
                            class="abs-img">

                        <p class="section-subtitle label-2">12.12 SALE</p>

                        <h2 class="headline-1 section-title">Get up to 50% OFF Your First Shipment!</h2>

                        <p class="section-text">
                            It's 12.12 sale! We're so confident you'll love our service, we're giving you 50% off your first delivery. 
                            Experience the speed, safety, and reliability of CargoXpress today. 
                            Use code CXPRESS1212 when you book.
                        </p>

                        <div class="wrapper">
                            <del class="del body-3">Rp. 25.000</del>

                            <span class="span body-1">Rp. 12.500</span>
                        </div>

                        <a href="#menu" class="btn btn-primary">
                            <span class="text text-1">Ship Now</span>

                            <span class="text text-2" aria-hidden="true">Ship Now</span>
                        </a>

                    </div>
                </div>

            </section>


            <!--
                #Menu
            -->

            <section class="section menu" aria-label="menu-lable" id="menu">

                <div class="container">

                    <p class="section-subtitle text-center lable-2">Our Services</p>

                    <h2 class="headline-1 section-title text-center">Delivery Options</h2>

                    <ul class="grid-list">

                        <li>

                            <div class="menu-card hover:card">

                                <figure class="card-banner img-holder" style="--width: ; --height: ;">

                                    <img src="images/sameday.png" width="80" height="80" loading="lazy"
                                        alt="Same Day">
                                </figure>

                                <div>

                                    <div class="title-wrapper">

                                        <h3 class="title-3">

                                            <a href="#" class="card-title">Same Day Delivery</a>
                                        </h3>

                                        <span class="badge lable-1">Popular</span>
                                        <span class="span title-2">Starting from Rp. 45.000</span>

                                    </div>

                                    <p class="card-text lable-1">Need it there now? Get your package delivered anywhere within the city in just a few hours.
                                         Perfect for urgent documents and last-minute needs.</p>
                                </div>
                            </div>
                        </li>




                        <li>

                            <div class="menu-card hover:card">

                                <figure class="card-banner img-holder" style="--width: ; --height: ;">

                                    <img src="images/nextday.png" width="80" height="80" loading="lazy" 
                                    alt="Next Day">
                                </figure>

                                <div>

                                    <div class="title-wrapper">

                                        <h3 class="title-3">

                                            <a href="#" class="card-title">Next Day Delivery</a>
                                        </h3>
                                        <span class="badge lable-1">Best Value</span>
                                        <span class="span title-2">Starting from Rp. 20.000</span>

                                    </div>

                                    <p class="card-text lable-1">Our most popular, cost-effective option. We guarantee your package 
                                        will arrive safely by the end of the next business day.
                                    </p>
                                </div>
                            </div>
                        </li>




                        <li>
                            <div class="menu-card hover:card">

                                <figure class="card-banner img-holder" style="--width: ; --height: ;">

                                    <img src="images/regular.png" width="80" height="80" loading="lazy" 
                                        alt="Regular">
           
                                </figure>

                                <div>
                                    <div class="title-wrapper">
                                        <h3 class="title-3">
                                            <a href="#" class="card-title">Regular</a>
                                        </h3>

                                        <span class="span title-2">Starting from Rp. 12.000</span>
                                    </div>

                                    <p class="card-text">
                                    A reliable and economical choice for non-urgent packages. Delivery typically within 2-3 business days.

                                </div>

                            </div>
                        </li>




                        <li>
                            <div class="menu-card hover:card">

                                <figure class="card-banner img-holder" style="--width: ; --height: ;">

                                    <img src="images/cargo.png" width="80" height="80" loading="lazy" 
                                    alt="Heavy Cargo" >
           
                                </figure>

                                    <div>
                                        <div class="title-wrapper">
                                        <h3 class="title-3">
                                            <a href="#" class="card-title">Heavy Cargo</a>
                                        </h3>

                                        <span class="badge lable-1">New</span>
                                        <span class="span title-2">Contact Us</span>
                                    </div>

                                    <p class="card-text">
                                    Specialized handling for large or heavy shipments. We provide the right vehicle and team to manage your bulk delivery needs safely.
                                    </p>

                                    </div>

                            </div>
                        </li>

                    </ul>


                    <p class="menu-text text-center">Live Tracking <span class="span"> Available </span> for all shipments.
                        We operate <span class="span">24/7</span>
                    </p>

                    <a href="#" class="btn btn-primary">

                        <span class="text text-1">View All Services</span>
                        <span class="text text-2" aria-hidden="true">View All Services</span>
                    </a>

                </div>
            </section>


            <!--
                #testomonials
            -->

            <section class="section testi text-center has-bg-image"
                style="background-image: url('./images/testimonial-bg.jpg')" aria-label="testimonials">
                <div class="container">

                    <p class="headline-2 testi-text">
                        "I wanted to thank you for the excellent delivery service the other day. 
                        My package arrived very quickly and in perfect condition."
                    </p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>

                    <div class="profile">
                        <img src="images/ava.jpg" width="100" height="100" loading="lazy" alt="Nikodemus Hendrignes Wijaya"
                            class="img">

                        <p class="label-2 profile-name">Nikodemus Hendrignes Wijaya</p>
                    </div>

                </div>
            </section>

                        <div class="form-right text-center" style="background-image: url('./images/form-pattern.png')">

                            <h2 class="headline-1 text-center">Contact Us</h2>

                            <p class="contact-label">Booking & Inquiries</p>

                            <a href="tel:+91 8127xx3191"
                                class="body-1 contact-number hover-underline">+62-878-8843-2890</a>

                            <div class="separator"></div>

                            <p class="contact-label">Location</p>

                            <address class="body-4">
                                Jl. Letjen S.Parman No.1 RT.8/RW.8, 
                                Jakarta, Indonesia<br>
                            </address>

                            <p class="contact-label">Office Hours</p>

                            <p class="body-4">
                                Daily <br>
                                08.00 am - 10.00 pm
                            </p>

                        </div>

                    </div>

                </div>
            </section>

<br>
<br>
<br>
<br>


            <!-- 
              - #FEATURES
         -->

            <section class="section features text-center" aria-label="features">
                <div class="container">

                    <p class="section-subtitle label-2">Why Choose Us</p>

                    <h2 class="headline-1 section-title">Our Strength</h2>

                    <ul class="grid-list">

                        <li class="feature-item">
                            <div class="feature-card">

                                <div class="card-icon">
                                    <img src="images/protect.png" width="100" height="80" loading="lazy"
                                        alt="icon">
                                </div>

                                <h3 class="title-2 card-title">Secure & Safe Handling</h3>

                                <p class="label-1 card-text">Trust us with your packages; we ensure every item is 
                                    handled with utmost care and security from pickup to delivery.
                                </p>

                            </div>
                        </li>




                        <li class="feature-item">
                            <div class="feature-card">

                                <div class="card-icon">
                                    <img src="images/time.png" width="100" height="80" loading="lazy"
                                        alt="icon">
                                </div>

                                <h3 class="title-2 card-title">Timely Delivery</h3>

                                <p class="label-1 card-text">
                                    Experience peace of mind with our commitment to punctual delivery, 
                                    getting your packages where they need to be, on time, every time.</p>

                            </div>
                        </li>





                        <li class="feature-item">
                            <div class="feature-card">

                                <div class="card-icon">
                                    <img src="images/people.png" width="100" height="80" loading="lazy"
                                        alt="icon">
                                </div>

                                <h3 class="title-2 card-title">Expert Team</h3>

                                <p class="label-1 card-text">
                                    Our dedicated team of logistics professionals ensures 
                                    smooth operations and efficient solutions for all your shipping needs.</p>

                            </div>
                        </li>




                        <li class="feature-item">
                            <div class="feature-card">

                                <div class="card-icon">
                                    <img src="images/map.png" width="100" height="80" loading="lazy"
                                        alt="icon">
                                </div>

                                <h3 class="title-2 card-title">Wide Coverage Network</h3>

                                <p class="label-1 card-text">Benefit from our extensive network, 
                                    providing reliable delivery services across various locations.</p>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>


            <!-- 
        - #EVENT
      -->

            <section class="section event bg-black-10" aria-label="event">
                <div class="container">

                    <p class="section-subtitle label-2 text-center">OUR PROCESS</p>

                    <h2 class="section-title headline-1 text-center">Get Started in 3 Easy Steps</h2>

                    <ul class="grid-list">

                        <li>
                            <div class="event-card has-before hover:shine">

                                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                    <img src="images/del1.png" width="350" height="450" loading="lazy"
                                        alt="del1" class="img-cover">

                                    <time class="publish-date label-2">01</time>
                                </div>

                                <div class="card-content">
                                    <p class="card-subtitle label-2 text-center">STEP 1: BOOK</p>

                                    <h3 class="card-title title-2 text-center">
                                        Schedule Your Pickup Online or By Phone.
                                    </h3>
                                </div>

                            </div>
                        </li>







                        <li>
                            <div class="event-card has-before hover:shine">

                                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                    <img src="images/del2.png" width="350" height="450" loading="lazy"
                                        alt="del2" class="img-cover">

                                    <time class="publish-date label-2">02</time>
                                </div>

                                <div class="card-content">
                                    <p class="card-subtitle label-2 text-center">STEP 2: PICKUP</p>

                                    <h3 class="card-title title-2 text-center">
                                        Our Friendly Driver Collects Your Package.
                                    </h3>
                                </div>

                            </div>
                        </li>







                        <li>
                            <div class="event-card has-before hover:shine">

                                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                    <img src="images/del3.png" width="350" height="450" loading="lazy"
                                        alt="del3" class="img-cover">

                                    <time class="publish-date label-2">03</time>
                                </div>

                                <div class="card-content">
                                    <p class="card-subtitle label-2 text-center">STEP 3: DELIVER</p>

                                    <h3 class="card-title title-2 text-center">
                                        Track in Real-Time and Confirm Delivery.
                                    </h3>
                                </div>

                            </div>
                        </li>





                    </ul>

                    <a href="#" class="btn btn-primary">
                        <span class="text text-1">BOOK A PICKUP</span>

                        <span class="text text-2" aria-hidden="true">BOOK A PICKUP</span>
                    </a>

                </div>
            </section>


        </article>
    </main>



    <!-- 
    - #FOOTER
  -->

    <footer class="footer section has-bg-image text-center" id="footer"
        style="background-image: url('./images/footer-bg.jpg')">
        <div class="container">

            <div class="footer-top grid-list">

                <div class="footer-brand has-before has-after">

                    <a href="#home" class="logo">
                        <img src="images/logo.png" width="160" height="50" loading="lazy" alt="cargoxpress">
                    </a>

                    <address class="body-4">
                        Jl. Letjen S.Parman No. 1 RT.6/RW.16, Jakarta, Indonesia
                    </address>

                    <a href="mailto:booking@grilli.com" class="body-4 contact-link">cargoxpres@gmail.com</a>

                    <a href="tel:+91-8127xx3191" class="body-4 contact-link">Book A Pickup : +62-878-8843-2890</a>

                    <p class="body-4">
                        Open : 08:00 am - 10:00 pm
                    </p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>

                    <p class="title-1">Get News & Offers</p>

                    <p class="label-1">
                        Subscribe us & Get <span class="span">25% Off.</span>
                    </p>

                    <form action="" class="input-wrapper">
                        <div class="icon-wrapper">
                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

                            <input type="email" name="email_address" placeholder="Your email" autocomplete="off"
                                class="input-field">
                        </div>

                        <button type="submit" class="btn btn-secondary">
                            <span class="text text-1">Subscribe</span>

                            <span class="text text-2" aria-hidden="true">Subscribe</span>
                        </button>
                    </form>

                </div>

                <ul class="footer-list">

                    <li>
                        <a href="#home" class="label-2 footer-link hover-underline">Home</a>
                    </li>

                    <li>
                        <a href="#menu" class="label-2 footer-link hover-underline">Services</a>
                    </li>

                    <li>
                        <a href="#about" class="label-2 footer-link hover-underline">Track Shipment</a>
                    </li>

                    <li>
                        <a href="#menu" class="label-2 footer-link hover-underline">Pricing</a>
                    </li>

                    <li>
                        <a href="#footer" class="label-2 footer-link hover-underline">About Us</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <a href="https://www.facebook.com/" class="label-2 footer-link hover-underline">Facebook</a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" class="label-2 footer-link hover-underline">Instagram</a>
                    </li>

                    <li>
                        <a href="https://twitter.com/" class="label-2 footer-link hover-underline">Twitter</a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/" class="label-2 footer-link hover-underline">Youtube</a>
                    </li>

                    <li>
                        <a href="https://www.google.com/maps/" class="label-2 footer-link hover-underline">Google Map</a>
                    </li>

                </ul>

            </div>

            <div class="footer-bottom">

                <p class="copyright">
                    &copy; 2025 CargoXpress. All Rights Reserved | Crafted by <a href="#"
                        target="_blank" class="link">Kelompok 4</a>
                </p>

            </div>

        </div>
    </footer>


    <!-- 
    - #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>







    <!--
    - custom js link
   -->
    <script src=" ./js/script.js"></script>

    <!--
    ionicon link
   -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--
    
-->

</body>

</html>